<% render './base/start.html' %>

<% render './base/navbar.html' %>

<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">

  <% render './base/sidebar.html' %>

  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16">

    <% render './ui/alert/head.html' %>
    <% render './ui/alert/alert_1.html' %>
    <% render './ui/alert/alert_2.html' %>
    <% render './ui/alert/alert_3.html' %>

  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

<% render './base/end.html' %>
