<% render './base/start.html' %>

<% render './base/navbar.html' %>

<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">

  <% render './base/sidebar.html' %>

  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16">

    <!-- congrats & summary -->
    <div class="grid grid-cols-3 lg:grid-cols-1 gap-5">
      <% render './index/congrats.html' %>
      <% render './index/summary.html' %>
    </div>
    <!-- end congrats & summary -->

    <!-- status -->
    <% render './index/status.html' %>
    <!-- end status -->

    <!-- best seller & traffic -->
    <div class="grid grid-cols-2 lg:grid-cols-1 gap-5 mt-5">
      <% render './index/bestSeller.html' %>
      <% render './index/recent_order.html' %>
    </div>
    <!-- end best seller & traffic -->

  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

<% render './base/end.html' %>
