<div class="flex-1 justify-center mb-6">
    <h1>Duplicate animals</h1>
    <p>Please check your records on MINDA and edit or delete the following items:</p>
</div>
<%= render 'shared/animals/animal-table' %>