<div class="flex justify-center">
    <div class="mb-6 px-6 text-teal-300">
        <%= link_to "Back", :back %>
    </div>
    <div class="mb-6 px-6 text-teal-300">
        <%= link_to 'Delete', edit_animal_path(@animal) %> 
    </div> 
</div>
<%= render 'form', resource: @animal %>

