<div class="card">

    <div class="card-body">
      <div class="flex flex-row justify-between items-center">
          <h1 class="font-extrabold text-lg">Farm comparison</h1>
          <a href="#" class="btn-gray text-sm">view all</a>
      </div>

      <table class="table-auto w-full mt-5 text-left">

        <thead>
          <tr>
            <td class="py-4 font-extrabold text-sm">Farm</td>
            <td class="py-4 font-extrabold text-sm"><%= (@year_minus_2).to_s[2..3] %> CR</td>
            <td class="py-4 font-extrabold text-sm">H CR</td>
            <td class="py-4 font-extrabold text-sm">H DR</td>
            <td class="py-4 font-extrabold text-sm">CV DR</td>
            <td class="py-4 font-extrabold text-sm">H R</td>

          </tr>
        </thead>

        <tbody>
          <% @farms.each do |f| %>
            <%= render 'shared/farms/farm-comparison-card', f: f %>
          <% end %>
        </tbody>

      </table>

    </div>
</div>
