<div class="card">

    <div class="card-body">
      <h2 class="font-bold text-lg mb-10">Recent Calfs</h2>

    <!-- start a table -->
    <table class="table-fixed w-full">

        <!-- table head -->
        <thead class="text-left">
          <tr>
              <th class="w:1/4 pb-10 text-sm font-extrabold tracking-wide flex flex-row">Calf-ID</th>
              <th class="w:1/4 pb-10 text-sm font-extrabold tracking-wide text-right">Birth Date</th>
              <th class="w:1/4 pb-10 text-sm font-extrabold tracking-wide text-right">BW</th>
              <th class="w:1/4 pb-10 text-sm font-extrabold tracking-wide text-right">Fate</th>
          </tr>
        </thead>
        <!-- end table head -->

        <!-- table body -->
        <tbody class="text-left text-gray-600">
          <% @farm.calves.order(:birth_date).first(5).each do |c| %>
            <%= render 'shared/farms/recent-calf-card', c: c %>
          <% end %>
        </tbody>
        <!-- end table body -->

    </table>
    <!-- end a table -->
    </div>

</div>
