<div class="card">

    <div class="card-body">
      <div class="flex flex-row justify-between items-center">
        <h1 class="font-extrabold text-lg">Recent calves</h1>
        <a href="#" class="btn-gray text-sm">view all</a>
      </div>

    <table class="table-auto w-full mt-5 text-left">

      <thead class="">
        <tr>
          <th class="py-4 font-extrabold text-sm">Date</th>
          <th class="py-4 font-extrabold text-sm">Calf ID</th>
          <th class="py-4 font-extrabold text-sm">Dam #</th>
          <th class="py-4 font-extrabold text-sm">Dam ID</th>
          <th class="py-4 font-extrabold text-sm">BW</th>
          <th class="py-4 font-extrabold text-sm">Fate</th>
        </tr>
      </thead>

      <tbody class="">
        <% @farm.calves.order(:birth_date).first(8).each do |c| %>
          <%= render 'shared/farms/recent-calf-card', c: c %>
        <% end %>
      </tbody>

    </table>

    </div>

</div>
