<div class="grid grid-cols-5 gap-5 mt-5 lg:grid-cols-2">

    <!-- status -->
    <div class="card col-span-1">
        <div class="card-body">
            <h5 class="uppercase text-xs tracking-wider font-extrabold">today</h5>
            <h1 class="capitalize text-lg mt-1 mb-1"><span><%= @today.count %></span>  <span class="text-xs tracking-widest font-extrabold">Calfs</span></h1>
            <p class="capitalize text-xs text-gray-500">( 5 last year )</p>
        </div>
    </div>
    <!-- status -->

    <!-- status -->
    <div class="card col-span-1">
        <div class="card-body">
            <h5 class="uppercase text-xs tracking-wider font-extrabold">this week</h5>
            <h1 class="capitalize text-lg mt-1 mb-1"><span><%= @this_week.count %></span>  <span class="text-xs tracking-widest font-extrabold">Calfs</span></h1>
            <p class="capitalize text-xs text-gray-500">( 5 last year )</p>
        </div>
    </div>
    <!-- status -->

    <!-- status -->
    <div class="card col-span-1">
        <div class="card-body">
            <h5 class="uppercase text-xs tracking-wider font-extrabold">this month</h5>
            <h1 class="capitalize text-lg mt-1 mb-1"><span><%= @this_month.count %></span>  <span class="text-xs tracking-widest font-extrabold">Calfs</span></h1>
            <p class="capitalize text-xs text-gray-500">( 5 last year )</p>
        </div>
    </div>
    <!-- status -->

    <!-- status -->
    <div class="card col-span-1">
        <div class="card-body">
            <h5 class="uppercase text-xs tracking-wider font-extrabold">this year</h5>
            <h1 class="capitalize text-lg mt-1 mb-1"><span><%= @this_year.count %></span>  <span class="text-xs tracking-widest font-extrabold">Calfs</span></h1>
            <p class="capitalize text-xs text-gray-500">( 5 last year )</p>
        </div>
    </div>
    <!-- status -->

    <!-- status -->
    <div class="card col-span-1 lg:col-span-2">
        <div class="card-body">
            <h5 class="uppercase text-xs tracking-wider font-extrabold">Some Statistics</h5>
            <h1 class="capitalize text-lg mt-1 mb-1"><span>Calf Stats</span></h1>
            <p class="capitalize text-xs text-gray-500">Calf stats</p>
        </div>
    </div>
    <!-- status -->


</div>
