<tr class="">
  <td class="py-4 text-sm text-gray-600 flex flex-row items-center">
      <%= f.code %>
  </td>
  <td class="py-4 text-xs text-gray-600"><span class="num-2"></span>%</td>
  <td class="py-4 text-xs text-gray-600"><span class="num-2"></span>%</td>
  <td class="py-4 text-xs text-gray-600"><span class="num-2"></span>%</td>
  <td class="py-4 text-xs text-gray-600"><span class="num-2"></span>%</td>
  <td class="py-4 text-xs text-gray-600"><span class="num-2"></span>%</td>
</tr>


